$sm: 540px;
$md: 720px;
$lg: 960px;
$xl: 1140px;

@mixin small {
  @media only screen and (min-width: $sm) {
      @content;
  }
}

@mixin medium {
  @media only screen and (min-width: $md) {
      @content;
  }
}

@mixin large {
  @media only screen and (min-width: $lg) {
      @content;
  }
}
