@import '~styles/mixins';

.shows-grid {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  text-align: center;

  @include small {
    flex-direction: row;
    flex-wrap: wrap;
  }

  li {
    list-style-type: none;
    margin-bottom: 15px;

    @include small {
      width: 50%;
    }

    @include medium {
      width: calc(100% / 3);
    }

    @include large {
      width: 25%;
      margin-bottom: 25px;
    }
  }
}
