@import './styles/variables';
@import '~styles/mixins';

body {
  margin: 0;
  min-height: 100%;
}

a {
  text-decoration: none;

  &:visited,
  &:link {
    color: $primary;
  }

  &:active,
  &:hover {
    color: $secondary;
  }
}

p {
  margin: 0 0 15px 0;
}

.font-serif {
  font-family: Times, 'Times New Roman', serif;
}

.font-sans-serif {
  font-family: Helvetica, Arial, sans-serif;
}

.page-container {
  padding: 10px;
  max-width: 960px;
  margin: 0 auto 25px;
}

.grid {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;

  @include small {
    flex-direction: row;
    flex-wrap: wrap;
  }

  li {
    list-style-type: none;
    margin-bottom: 15px;
    display: flex;
    justify-content: center;

    @include small {
      width: 50%;
    }

    @include medium {
      width: calc(100% / 3);
    }

    @include large {
      width: 25%;
      margin-bottom: 25px;
    }
  }
}
